@import url('./assets/css/header.css');
@import url('./assets/css/header-mobile.css');

:root {
    --primary-white: #FFFFFF;
    --primary-red: #8E2424;
    --primary-gray: #667085;
    --primary-dark: #101828;
    --second-gray: #EAECF0;
    --second-red: #C3191908;
    --second-white: #F9FAFB;

    --font: 'Inter', 'sans-serif';
}

body {
    background-color: var(--primary-white);
    font-family: var(--font);
}
