:root {
    --primary-white: #FFFFFF;
    --primary-red: #8E2424;
    --primary-gray: #667085;
    --primary-dark: #101828;
    --second-gray: #EAECF0;
    --second-red: #C3191908;
    --second-white: #F9FAFB;

    --font: 'Inter', 'sans-serif';

}

body {
    background-color: var(--primary-white);
    font-family: var(--font);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 2rem;
}

.links {
    display: flex;
    justify-content: flex-start;
    width: 40vw;
    gap: 32px;
    
}

.links a:link {
    text-decoration: none;
    color: var(--primary-gray);
}

.user-buttons {
    color: var(--primary-gray);
}

.user-buttons:hover {
    cursor: pointer;
}

.signup {
    margin: 0 30px;
    background-color: var(--primary-red);
    padding: 10px 18px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border: 1px solid var(--primary-white);
    color: #FFFFFF;
}

.signup:hover {
    cursor: pointer;
}

.about-sec {
    margin: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-div {
    margin: 0 auto;
    text-align: center;
    width: 56vw;
}

.about-intro {
    font-weight: 700;
    color: var(--primary-red);
}

.about-div h2 {
    font-size: 48px;
    font-weight: 600;
    margin-top: 1.5rem;
}

.about-div p {
    text-align: center;
    color: var(--primary-gray);
    font-size: 20px;
    margin-top: 2.2rem;
}

.metrics-div {
    display: flex;
    margin: 6rem 0;
}

.metrics-article {
    width: 280px;
    margin: 2rem 0;
}

.about-sub {
    font-size: 60px;
    font-weight: 600;
    color: var(--primary-red);
}

.about-content--strong {
    display: block;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-dark);
    margin: 12px 0 8px 0;
}

.about-content {
    font-size: 16px;
    color: var(--primary-gray);
}

.hiring-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hiring-intro {
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-red);
    border-radius: 16px;
    background-color: rgba(142, 36, 36, 0.05);
    padding: 0.3rem 0.8rem;
}

.hiring-div h3 {
    font-size: 36px;
    font-weight: 600;
    margin: 1.2rem 0;
}

.hiring-div p {
    color: var(--primary-gray);
    font-size: 20px;
}

.meeting-image {
    width: 74vw;
    margin: 4rem 0;
    padding: 0 2rem;
}

.jobs-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.design-article h4{
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-dark);
}

.dev-article h4{
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-dark);
}

.job {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-dark);
}

.job-time, .job-payment {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-gray);
    margin: 2rem 1.5rem 0 0;
    
    display: inline-block;
}

.job-article {
    width: 46vw;
    border: 1px solid var(--second-gray);
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 2rem;
}

.feedback-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    align-items: center;
}

.feedback-div {
    width: 76vw;
    background: var(--second-red);
    padding: 4rem;
}

.view-feedback {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-red);
}

.feedback-title {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: var(--primary-dark);
    margin: 1rem 0;
}

.avatar-div {
    display: flex;
    justify-content: center;
}

.worker-image {
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem 0;
}

.worker-desc {
    display: block;
    font-size: 14px;
    text-align: center;
    color: var(--primary-gray);
}

.news-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background: var(--second-white);
    margin: 6rem 0 0 0;
}

.news-div{
    width: 46vw;
    padding: 6rem 0 6rem 0;
    text-align: center;
}

.news-title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: var(--primary-dark);
}

.news-desc {
    display: block;
    font-size: 20px;
    color: var(--primary-gray);
    text-align: center;
    margin: 1.25rem 0;
}

.email-field {
    padding: 0.8rem 0.6rem;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    width: 360px;
    font-size: 16px;
    color: var(--primary-gray);
    margin-right: 12px;
}

.email-btn {
    margin: 1.4rem 0.8rem 1.4rem 0;
    background-color: var(--primary-red);
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border: 1px solid var(--primary-white);
    color: #FFFFFF;
    padding: 0.8rem 0;
    width: 116px;
}

.copy-text {
    display: block;
    font-size: 16px;
    color: var(--primary-gray);
    margin: 1rem;
}
